<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<!-- Wrap the backend with Endpoints Frameworks v2. -->
	<servlet>
		<servlet-name>EndpointsServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>com.tss.airie.api.NoteApi</param-value>
		</init-param>
	</servlet>

	<!-- Route API method requests to the backend. -->
	<servlet-mapping>
		<servlet-name>EndpointsServlet</servlet-name>
		<url-pattern>/_ah/api/*</url-pattern>
	</servlet-mapping>

	<!-- Add a filter that fetches the service config from service management. -->
	<filter>
		<filter-name>endpoints-api-configuration</filter-name>
		<filter-class>com.google.api.control.ServiceManagementConfigFilter</filter-class>
	</filter>

	<!-- Add a filter that performs Endpoints logging and monitoring. -->
	<filter>
		<filter-name>endpoints-api-controller</filter-name>
		<filter-class>com.google.api.control.extensions.appengine.GoogleAppEngineControlFilter</filter-class>
		<init-param>
			<param-name>endpoints.projectId</param-name>
			<param-value>airie-app</param-value>
		</init-param>
		<init-param>
			<param-name>endpoints.serviceName</param-name>
			<param-value>airie-app.appspot.com</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>endpoints-api-configuration</filter-name>
		<servlet-name>EndpointsServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>endpoints-api-controller</filter-name>
		<servlet-name>EndpointsServlet</servlet-name>
	</filter-mapping>

	<!-- Objectfy setup -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<listener>
		<listener-class>com.tss.airie.config.AirieObjectifyListener</listener-class>
	</listener>
</web-app>